
$white:#F9F9F9;
$blue-black: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
$purple-light: rgba(132, 116, 254, 1);
$purple: linear-gradient(0deg, rgba(77,54,208,1) 0%, rgba(132,116,254,1) 100%);
$special: rgba(13, 219, 219, 0);

$gradient-1: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
$gradient-2: linear-gradient(0deg, rgba(77, 54, 208, 1) 0%, rgba(132, 116, 254, 1) 100%);;

 $shadow-1: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
 $shadow-2: 0 0 10px rgba(175, 64, 255, 0.8), 0 0 20px rgba(66, 172, 243, 0.6);

 $input: #3e3e3f91;